@model WebApplication.Models.CHITIETDONHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CHITIETDONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIATIENBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIATIENBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONHANG.LOAITHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONHANG.LOAITHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TENSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
